@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: sticky;
  padding: 14px 0px;
  background-color: white;
  z-index: 130;
  @include laptop-min {
    margin-bottom: 15px;
  }
  @include tablet {
    padding: 5px 0px;
    margin-bottom: 10px;
  }
  &__wrapper {
    @include flex-between;
    gap: 30px;
  }
  &__logo {
    display: block;
    width: 240px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    @include tablet {
      width: 150px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    gap: 40px;
    @include laptop-middle {
      gap: 30px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__contacts-main {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts-item {
  }
  &__tel {
    padding-left: 20px;
    @include laptop-middle {
      padding-left: 0;
    }
  }
  &__tel-title {
    margin-bottom: 4px;
  }
  &__tel-btn {
    color: var(--primary);
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary-d);
    }
  }
  &__btn {
    width: 215px;
    flex-shrink: 0;
  }
  &__mob-buttons {
    display: flex;
    gap: 16px;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__mob-btn {
    @include flex-center;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    background-color: var(--primary-l);
    -webkit-tap-highlight-color: transparent;

    color: var(--primary);

    &._burger {
      flex-direction: column;
      gap: 5px;

      &._active {
        position: relative;

        div {
          position: absolute;
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }

      div {
        width: 25px;
        height: 3px;
        border-radius: 1px;
        background-color: currentColor;

        transition:
          transform 0.3s ease,
          opacity 0.3s ease;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.header-b {
  padding: 15px 0px;
  @include laptop-min {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -9999px;
    z-index: -9999;
  }
  &__nav {
  }
  &__list {
    @include flex-between;
    gap: 20px;
    font-weight: 500;

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    .menu-item-has-children {
      position: relative;
      @include hover {
        & > a {
          &::after {
            transform: rotate(90deg);
          }
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
      &::before {
        position: absolute;
        content: "";
        right: 0;
        left: 0;
        top: 0;
        bottom: -10px;
        z-index: 1;
      }

      & > a {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        z-index: 1;

        &::after {
          display: block;
          content: "";
          flex-shrink: 0;
          width: 7px;
          height: 11px;
          background: url("@img/next.svg") center / contain no-repeat;

          transition: transform 0.3s ease;
        }
      }
    }

    .sub-menu {
      position: absolute;
      list-style: none;
      padding: 0;
      left: 0;
      padding: 25px 65px;
      width: 430px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;

      box-shadow: 0 0 8px 2px rgba(25, 142, 223, 0.2);
      border-radius: 30px;
      background-color: white;
      z-index: 10;

      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);

      transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;
    }
  }
}
