@use '../base/templates' as *;
@use '../base/media' as *;

.s-adv {
  .sect-head {
    @include tablet {
      br {
        display: none;
      }
    }
  }
  &__body {
    padding: 70px 50px;
    background-color: var(--primary-m);
    border-radius: 30px;
    overflow: hidden;
    @include laptop-min {
      padding: 50px 30px;
    }
    @include tablet {
      padding: 50px 20px;
    }
  }
  &__grid-layout {
    @include laptop-min {
      display: block;
    }

    .slider-arrows {
      width: fit-content;
      margin-top: 30px;
      @include tablet {
        margin-left: auto;
      }
    }
  }
  &__grid-item-fake {
    @include laptop-middle {
      display: none;
    }
  }
  &__main {
    position: relative;
    grid-column: 3 span;
    z-index: 1;
    @include laptop-middle {
      grid-column: 1 span;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -50px;
      bottom: 0;
      width: 160px;
      background: linear-gradient(
        90deg,
        rgba(187, 221, 240, 0) 0%,
        #bbddf0 100%
      );
      z-index: 10;

      @include desktop {
        width: 105px;
      }
      @include laptop {
        width: 30px;
      }
      @include laptop-min {
        right: -30px;
      }
      @include tablet {
        right: -20px;
      }
    }
  }
  &__slider {
    width: 845px;
    max-width: 100%;
    margin: 0;
    overflow: visible !important;
    @include laptop-min {
      width: 100%;
    }
  }
  &__slide {
    display: flex;
    height: 345px !important;
    box-sizing: border-box;
    @include tablet {
      width: 290px !important;
      max-width: 100%;
      height: auto !important;
      padding-top: 205px;
    }
  }
  &__slide-img {
    border-radius: 30px;
    height: 100%;
    width: 70%;
    object-fit: cover;
    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 265px;
      z-index: -1;
    }
  }
  &__slide-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    background-color: white;
    border-radius: 30px;
    padding: 20px;

    @include tablet {
      position: static;
      width: 100%;
      min-height: 255px;
      padding: 30px 20px;
    }
  }
  &__slide-num {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 18px;
    color: var(--primary);
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__slide-title {
    color: var(--primary);
    margin-bottom: 10px;
  }
}
