@use '../base/templates' as *;
@use '../base/media' as *;

.s-hero {
  &__body {
    position: relative;
    background: var(--primary-l);
    border-radius: 30px;
    padding: 80px 50px 50px 50px;
    min-height: 520px;
    overflow: hidden;
    z-index: 1;
    @include laptop-min {
      padding: 70px 30px 30px 30px;
    }
    @include tablet {
      padding: 70px 20px 20px 20px;
      min-height: 660px;
    }

    &::before, &::after {
      position: absolute;
      content: "";
      border-radius: 100%;
      aspect-ratio: 1/1;
    }
    &::after {
      width: 1230px;
      background: radial-gradient(50% 50% at 50% 50%, rgb(156, 213, 242) 33.711539%, rgba(255, 255, 255, 0) 100%);
      right: -400px;
      bottom: -700px;
      z-index: -3;
      @include tablet {
        width: 610px;
        right: -210px;
        bottom: -345px;
      }
    }
    &::before {
      width: 1130px;
      background: radial-gradient(50% 50% at 50% 50%, rgb(156, 213, 242) 31.730768084526062%, rgba(255, 255, 255, 0) 100%);
      top: 0;
      right: 15px;
      z-index: -2;
      @include tablet {
        width: 565px;
        left: -220px;
        bottom: -320px;
        top: auto;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__content {
    max-width: 590px;
    opacity: 0.8;
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    width: 660px;
    max-width: 100%;

    @include tablet {
      margin-top: 30px;
      width: 500px;
      grid-template-columns: 1fr;
      gap: 15px;
    }

    .btn-s {
      width: 100%;
    }
  }
  &__picture {
    position: absolute;
    width: 1065px;
    height: auto;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
    z-index: -1;
    @include laptop-middle {
      width: 800px;
    }
    @include tablet-min {
      width: 535px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
