@use "../base/templates" as *;
@use "../base/media" as *;

.s-partners {
  &__slider {
    width: 100%;
    overflow: visible !important;
    @media (min-width: 1200px) {
      grid-column: 3 span;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
      @media (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
      }
    }
  }
  &__slide {
    @include flex-center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    min-height: 105px;
    height: auto !important;

    @include hover {
      img {
        filter: grayscale(0%) !important;
        opacity: 1;
      }
    }
    @include laptop-min {
      border-radius: 20px;
      min-height: 85px;
      width: 190px !important;
      max-width: 100%;
    }

    img {
      display: block;
      filter: grayscale(100%) !important;
      opacity: 0.7;

      transition:
        filter 0.3s ease,
        opacity 0.3s ease;
    }
  }
}
