@use "../base/templates" as *;
@use "../base/media" as *;

.s-services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include laptop-middle {
      grid-template-columns: repeat(3, 1fr);

      .item-fake {
        display: none;
      }
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      gap: 15px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
}
