<aside>
  <div class="burger" id="burger">
    <div class="burger__body">
      <div class="burger__wrapper-menu _active _show" id="burger-menu-start">
        <ul class="list burger__list">
          <li class="menu-item-has-children">
            <a href="#">Услуги</a>
            <ul class="sub-menu">
              <li><a href="#">Прямое бельё</a></li>
              <li><a href="#">Махра</a></li>
              <li><a href="#">Ресторанный текстиль</a></li>
              <li><a href="#">Униформа</a></li>
              <li><a href="#">MED/SPA SAFE</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Решения по отраслям</a>
            <ul class="sub-menu">
              <li><a href="#">Прямое бельё 2</a></li>
              <li><a href="#">Махра 2</a></li>
              <li><a href="#">Ресторанный текстиль 2</a></li>
              <li><a href="#">Униформа 2</a></li>
              <li><a href="#">MED/SPA SAFE 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Тестовая партия</a>
          </li>
          <li>
            <a href="#">Логистика</a>
          </li>
          <li>
            <a href="#">Партнерство</a>
          </li>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="burger__wrapper-menu" id="burger-menu-inside">
        <div class="burger__prev-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
          <span>Назад</span>
        </div>
      </div>
      <div class="burger__info">
        <a href="#" target="_blank" class="burger__info-item">
          г. Ессентуки, ул. Пятигорская, 149
        </a>
        <div class="burger__info-item">Пн-Пт: с 09.00 до 21.00</div>
      </div>
      <div class="burger__buttons">
        <a
          href="#modal-feedback"
          data-target-note="#input-modal-feedback"
          data-note="Заказать звонок"
          data-fancybox
          class="btn-s _white"
        >
          Заказать звонок
        </a>
        <a
          href="#modal-feedback"
          data-target-note="#input-modal-feedback"
          data-note="Получить КП"
          data-fancybox
          class="btn-s"
        >
          Получить КП
        </a>
      </div>
    </div>
  </div>
</aside>
