<footer class="footer">
  <div class="container">
    <div class="grid-layout footer__wrapper">
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="image" />
      </a>
      <div class="footer__nav">
        <div data-spollers="575,max" class="footer__nav-grid">
          <div class="footer__nav-item">
            <ul class="list footer__nav-list">
              <li><a href="#">О компании</a></li>
              <li><a href="#">Тестовая партия</a></li>
              <li><a href="#">Логистика</a></li>
              <li><a href="#">Партнерство</a></li>
            </ul>
          </div>
          <div class="footer__nav-item _spoller">
            <div data-spoller class="footer__nav-title">
              <span>Услуги</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
            </div>
            <div>
              <ul class="list footer__nav-list">
                <li><a href="#">Прямое бельё</a></li>
                <li><a href="#">Махра</a></li>
                <li><a href="#">Ресторанный текстиль</a></li>
                <li><a href="#">Униформа</a></li>
                <li><a href="#">MED/SPA SAFE</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__nav-item _spoller">
            <div data-spoller class="footer__nav-title">
              <span>Решения по отраслям</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
            </div>
            <div>
              <ul class="list footer__nav-list">
                <li><a href="#">Для санаториев</a></li>
                <li><a href="#">Для отелей</a></li>
                <li><a href="#">Для SPA/фитнеса</a></li>
                <li><a href="#">Для ресторанов/кейтеринга</a></li>
                <li><a href="#">Для медицины</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div data-btn-up class="btn-c">
          <div class="wrap">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom grid-layout">
      <div class="item-fake"></div>
      <div class="footer__bottom-main">
        <ul class="list footer__bottom-list">
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Политика обработки персональных данных</a></li>
        </ul>
        <a href="#" target="_blank" class="footer__dev">
          <span>Создание сайта</span>
          <img src="@img/dev.svg" alt="image" />
        </a>
        <div data-btn-up class="btn-c">
          <div class="wrap">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-arrow-top'></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
