<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__contacts">
        <div class="header__contacts-main">
          <div class="header__contacts-item">Пн-Пт: с 09.00 до 21.00</div>
          <a href="#" target="_blank" class="header__contacts-item">
            г. Ессентуки, ул. Пятигорская, 149
          </a>
        </div>
        <div class="header__tel">
          <div class="header__tel-title">Заказать звонок</div>
          <a href="tel:+79255550126" class="header__tel-btn">
            +7 (925) 555-01-26
          </a>
        </div>
        <a
          href="#modal-feedback"
          data-fancybox
          data-target-note="#input-modal-feedback"
          data-note="Получить КП"
          class="btn-s header__btn"
        >
          Получить КП
        </a>
      </div>
      <div class="header__mob-buttons">
        <a href="tel:+79255550126" class="header__mob-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
        </a>
        <div class="header__mob-btn _burger" id="burger-toggle">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-b">
  <div class="container">
    <nav class="header-b__nav">
      <ul class="list header-b__list">
        <li class="menu-item-has-children">
          <a href="#">Услуги</a>
          <ul class="sub-menu">
            <li><a href="#">Прямое бельё</a></li>
            <li><a href="#">Махра</a></li>
            <li><a href="#">Ресторанный текстиль </a></li>
            <li><a href="#">Униформа</a></li>
            <li><a href="#">MED/SPA SAFE</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">Решения по отраслям</a>
          <ul class="sub-menu">
            <li><a href="#">Прямое бельё</a></li>
            <li><a href="#">Махра</a></li>
            <li><a href="#">Ресторанный текстиль </a></li>
            <li><a href="#">Униформа</a></li>
            <li><a href="#">MED/SPA SAFE</a></li>
          </ul>
        </li>
        <li><a href="#">Тестовая партия</a></li>
        <li><a href="#">Логистика</a></li>
        <li><a href="#">Партнерство</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>
</div>
