<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__contacts">
        <div class="header__contacts-main">
          <div class="header__contacts-item">Пн-Пт: с 09.00 до 21.00</div>
          <a href="#" target="_blank" class="header__contacts-item">
            г. Ессентуки, ул. Пятигорская, 149
          </a>
        </div>
        <div class="header__tel">
          <div class="header__tel-title">Заказать звонок</div>
          <a href="tel:+79255550126" class="header__tel-btn">
            +7 (925) 555-01-26
          </a>
        </div>
        <a href="#modal-feedback" data-fancybox class="btn-s header__btn">Получить КП</a>
      </div>
      <div class="header__mob-buttons">
        <a href="tel:+79255550126" class="header__mob-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
        </a>
        <div class="header__mob-btn _burger" id="burger-toggle">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>
