<section class="s-adv sect-m">
  <div class="container">
    <div class="content-wrapper _primary-m">
      <div class="sect-head">
        <div class="grid-layout sect-head__wrapper">
          <div class="sect-head__subtitle">
            СЕРВИС, КОТОРОМУ
            <br />
            МОЖНО ДОВЕРЯТЬ
          </div>
          <h2 class="s-title">
            Преимущества, которые
            <br />
            делают нашу прачечную
            <br />
            <span>эффективным партнером</span>
          </h2>
        </div>
      </div>
      <div class="grid-layout s-adv__grid-layout">
        <div class="s-adv__grid-item-fake"></div>
        <div class="s-adv__main">
          <div class="s-adv__slider swiper">
            <div class="swiper-wrapper">
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">1</div>
                  <h3 class="text-b s-adv__slide-title">
                    Собственный каландр — идеально ровное белье
                  </h3>
                  <p class="text-m">
                    Высокотемпературный каландр обеспечивает профессиональное
                    разглаживание и подачу белья без складок и заломов
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img-5.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">2</div>
                  <h3 class="text-b s-adv__slide-title">
                    Работаем в 2 смены — соблюдаем сроки всегда
                  </h3>
                  <p class="text-m">
                    Мы гарантируем чистое белье без повреждений и дефектов
                    благодаря бережному уходу и строгому контролю качества
                    каждого этапа обработки
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img-6.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">3</div>
                  <h3 class="text-b s-adv__slide-title">
                    Раздельные потоки по категориям
                  </h3>
                  <p class="text-m">
                    Постельное, махровое, столовое и другое белье обрабатывается
                    отдельно — для максимальной гигиены и сохранности тканей
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img-7.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">3</div>
                  <h3 class="text-b s-adv__slide-title">
                    Возврат белья партиями: корпус / этаж / дата
                  </h3>
                  <p class="text-m">
                    Осуществляем качественную обработку крупных партий белья
                    оперативно и надежно, вне зависимости от объема заказа
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img-8.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">5</div>
                  <h3 class="text-b s-adv__slide-title">
                    Доставка по КМВ строго по графику
                  </h3>
                  <p class="text-m">
                    Собственный транспорт и регулярные маршруты по региону
                    обеспечивают точность и надёжность поставок
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img
                  src="@img/adv-img-9.jpg"
                  alt="image"
                  class="s-adv__slide-img"
                />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">6</div>
                  <h3 class="text-b s-adv__slide-title">
                    Прозрачный регламент приемки, взвешивания и претензий
                  </h3>
                  <p class="text-m">
                    Мы ценим ваше время и ваши вещи — поэтому в нашей прачечной
                    действует четкий, открытый и понятный регламент приемки,
                    взвешивания и обработки любых замечаний.
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="slider-arrows">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev-arrow"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next-arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
