<section class="s-adv sect-m">
  <div class="container">
    <div class="s-adv__body">
      <div class="sect-head">
        <div class="grid-layout sect-head__wrapper">
          <div class="sect-head__subtitle">
            СЕРВИС, КОТОРОМУ
            <br />
            МОЖНО ДОВЕРЯТЬ
          </div>
          <h2 class="s-title">
            Преимущества, которые
            <br />
            делают нашу прачечную
            <br />
            <span>эффективным партнером</span>
          </h2>
        </div>
      </div>
      <div class="grid-layout s-adv__grid-layout">
        <div class="s-adv__grid-item-fake"></div>
        <div class="s-adv__main">
          <div class="s-adv__slider swiper">
            <div class="swiper-wrapper">
              <article class="swiper-slide s-adv__slide">
                <img src="@img/adv-img.jpg" alt="image" class="s-adv__slide-img" />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">1</div>
                  <h3 class="text-b s-adv__slide-title">
                    Собственный каландр — идеально ровное белье
                  </h3>
                  <p class="text-m">
                    Высокотемпературный каландр обеспечивает профессиональное
                    разглаживание и подачу белья без складок и заломов
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img src="@img/adv-img.jpg" alt="image" class="s-adv__slide-img" />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">2</div>
                  <h3 class="text-b s-adv__slide-title">
                    Собственный каландр — идеально ровное белье
                  </h3>
                  <p class="text-m">
                    Высокотемпературный каландр обеспечивает профессиональное
                    разглаживание и подачу белья без складок и заломов
                  </p>
                </div>
              </article>
              <article class="swiper-slide s-adv__slide">
                <img src="@img/adv-img.jpg" alt="image" class="s-adv__slide-img" />
                <div class="s-adv__slide-body">
                  <div class="s-adv__slide-num">3</div>
                  <h3 class="text-b s-adv__slide-title">
                    Собственный каландр — идеально ровное белье
                  </h3>
                  <p class="text-m">
                    Высокотемпературный каландр обеспечивает профессиональное
                    разглаживание и подачу белья без складок и заломов
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="slider-arrows">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-prev-arrow'></use>
              </svg> 
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-next-arrow'></use>
              </svg> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
