<section class="s-contacts sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="grid-layout sect-head__wrapper">
        <div class="sect-head__subtitle">Контакты</div>
        <h2 class="s-title">Как с нами связаться</h2>
      </div>
    </div>
    <div class="grid-layout s-contacts__grid">
      <div class="item-fake"></div>
      <div class="s-contacts__main">
        <div class="s-contacts__wrapper">
          <div class="s-contacts__info-grid">
            <div class="s-contacts__item">
              <div class="text-m title">Мы находимся по адресу</div>
              <div class="text-b val">г. Ессентуки, ул. Пятигорская, 149</div>
            </div>
            <div class="s-contacts__item">
              <div class="text-m title">Работаем для вас</div>
              <div class="text-b val">Пн-Пт: с 09.00 до 21.00</div>
            </div>
            <div class="s-contacts__item">
              <div class="text-m title">Позвонить нам</div>
              <a href="tel:+79255550126" class="text-b val">
                +7 (925) 555-01-26
              </a>
            </div>
            <div class="s-contacts__item">
              <div class="text-m title">Написать нам</div>
              <a href="mailto:chistoproff@bk.ru" class="text-b val">
                chistoproff@bk.ru
              </a>
            </div>
          </div>
          <div class="social">
            <a href="#" target="_blank" class="btn-r">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-max"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="btn-r">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="btn-r _green-h">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="s-contacts__wrapper-map">
          <div
            class="map s-contacts__map"
            data-center="[44.054931074607396,42.909915999999974]"
            data-zoom="16"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
