<section class="s-hero">
  <div class="container">
    <div class="s-hero__body _ba-none _error">
      <h1 class="m-title s-hero__title">
        Такая страница
        <br />
        не найдена
      </h1>
      <div class="s-hero__buttons">
        <a
          href="/"
          class="btn-s"
        >
          Вернуться на главную
        </a>
      </div>
      <picture class="s-hero__picture">
        <img src="@img/hero-404.png" alt="image" />
      </picture>
    </div>
  </div>
</section>
