<section class="s-intro sect-m">
  <div class="container">
    <div class="content-wrapper _primary-f s-intro__content-wrapper">
      <div class="grid-layout">
        <div class="s-intro__first">
          <h1 class="s-title"><span>О компании</span></h1>
          <a href="#" class="btn-c">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </a>
        </div>
        <div class="s-intro__main">
          <div class="content s-intro__content">
            <p>
              Мы — современная промышленная прачечная, которая берёт на себя все
              заботы о чистоте и сохранности вашей текстильной продукции. Мы
              работаем с предприятиями самого разного профиля — от ресторанов и
              гостиниц до крупных производственных и медицинских объектов — и
              помогаем экономить время, силы и ресурсы, обеспечивая безупречное
              качество стирки, ухода и обслуживания тканевых изделий.
            </p>
            <p>
              Наша команда использует профессиональное оборудование и
              сертифицированные моющие средства, которые позволяют справляться
              даже с самыми сложными загрязнениями, сохраняя структуру и цвет
              тканей. Мы предлагаем полный спектр услуг: от приёма и сортировки
              белья до его обработки, глажки, упаковки и аккуратной доставки
              обратно в ваш объект.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="video-player"
      style="
        background: url(&quot;@img/about-video.jpg&quot;) 0 0 / cover no-repeat;
      "
    >
      <video
        data-src="./files/video.mp4"
        preload="auto"
        class="video-player__video"
      ></video>
      <div class="video-player__btn">
        <div class="items">
          <div class="item"></div>
          <div class="item"></div>
        </div>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-play"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
