<section class="s-overview sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="grid-layout sect-head__wrapper">
        <div class="sect-head__subtitle">Наш автопарк</div>
        <h2 class="s-title">
          Располагаем всем необходимым для стабильного вывоза и доставки белья
        </h2>
      </div>
    </div>
    <div class="swiper s-overview__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
        <a
          href="@img/overview.jpg"
          data-fancybox="gallery-overview"
          class="swiper-slide s-overview__slide"
        >
          <img src="@img/overview.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="grid-layout">
      <div class="item-fake"></div>
      <div class="slider-arrows">
        <div class="slider-arrow _prev _do">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev-arrow"></use>
          </svg>
        </div>
        <div class="slider-arrow _next _do">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
