@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--primary);
  --border: var(--primary);
  --color: white;
  --background-h: var(--primary-d);
  --border-h: var(--primary-d);
  --color-h: white;

  @include flex-center;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 30px;
  padding: 14px 30px;
  width: fit-content;
  -webkit-tap-highlight-color: transparent;

  user-select: none;
  font-weight: 500;
  text-align: center;
  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border: 1px solid var(--border-h);
    color: var(--color-h);
  }
}
