@use "../base/templates" as *;
@use "../base/media" as *;

.card-service {
  position: relative;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;

  @include hover {
    .card-service__body {
      transform: translate(-6px, -6px);
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset: 1px;
    border-radius: 30px;
    border: 1px solid var(--primary);
    z-index: -1;
  }

  @include hover {
    .circle {
      transform: rotate(45deg);
      background-color: var(--primary);
      color: white;
    }
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    max-width: 130px;
  }

  &__body {
    position: relative;
    border-radius: 30px;
    background-color: var(--primary-m);
    padding: 25px;
    aspect-ratio: 1/0.78;
    overflow: hidden;
    z-index: 1;

    transition: transform 0.3s ease;
    @include tablet {
      padding: 25px 20px;
    }
    @include tablet-min {
      aspect-ratio: 1/0.59;
    }
  }
  &__head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;

    .text-b {
      max-width: 130px;
    }
    .circle {
      @include flex-center;
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 2px -1px 7px 2px rgba(25, 142, 223, 0.1);
      flex-shrink: 0;

      transition:
        transform 0.3s ease,
        color 0.3s ease,
        background-color 0.3s ease;

      svg {
        width: 14px;
        height: 14px;
        transform: rotate(-45deg);
      }
    }
  }
  &__img {
    position: absolute;
    display: block;
    width: 250px;
    right: 0;
    bottom: 0;
    z-index: -1;

    @include laptop {
      width: 200px;
    }
    @include tablet-min {
      width: 165px;
    }
  }
}
