@use "../base/templates" as *;
@use "../base/media" as *;

.input-control {
  width: 100%;
}
.input {
  padding: 15px 20px;
  width: 100%;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 30px;

  line-height: 140%;
  color: var(--black);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &.wpcf7-not-valid {
    box-shadow: 0 0 7px 3px rgba(230, 84, 87, 0.5);
    &::placeholder {
      color: var(--red);
    }
  }

  &::placeholder {
    color: rgba(51, 51, 51, 0.5);
    transition: color 0.3s ease;

    @include tablet {
      font-size: 14px;
    }
  }
}

.check-wrapper {
  position: relative;
  color: rgba(51, 51, 51, 0.8);
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked + .wpcf7-list-item-label {
      &::before {
        background: url("@img/check-icon.svg") center / 12px auto no-repeat;
      }
    }
  }
  .wpcf7-list-item {
    margin: 0;
  }
  .wpcf7-list-item-label {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 15px;
    margin: 0;
    line-height: 140%;

    @include tablet {
      font-size: 14px;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    &::before {
      display: block;
      content: "";
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(51, 51, 51, 0.5);
    }
  }
}
