@use '../base/templates' as *;
@use '../base/media' as *;

.fancybox__backdrop {
  background-color: var(--gray-l);
  opacity: 0.8 !important;
}
.modal {
  display: none;
  cursor: auto;
  padding: 25px;
  border-radius: 30px;
  width: 1110px;
  max-width: calc(100% - 32px);
  background-color: var(--primary-m);
  color: var(--black);
  @include laptop-min {
    padding: 20px;
  }

  &__inside {
    position: relative;
    width: 100%;
    @include laptop-min {
      padding: 30px 0px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px
  }
  &__close {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    background-color: var(--primary-l);
    color: var(--primary);
    cursor: pointer;

    transition: color .3s ease, background-color .3s ease;

    @include hover {
      background-color: white;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__img {
    display: block;
    width: 310px;
    border-radius: 30px;
    flex-shrink: 0;
    aspect-ratio: 1/1.25;
    object-fit: cover;
    @include laptop-min {
      display: none;
    }
  }
  &__body {
    flex: 1;
  }
  &__title {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 30px;
    }
    @include tablet-min {
      max-width: 265px;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    row-gap: 25px;
    @include tablet {
      gap: 15px;
    }

    .input-control {
      @include tablet-min {
        grid-column: 2 span;
      }
    }
    .btn-s[type="submit"] {
      width: 100%;
      grid-column: 2 span;
      min-height: 52px;
      @include tablet {
        margin-top: 15px;
      }
    }
    .check-wrapper {
      grid-column: 2 span;
    }
    .check-wrapper {
      @include tablet {
        margin-top: 5px;
      }
    }
  }
}