@use "../base/templates" as *;
@use "../base/media" as *;

.sect-m {
  margin: 120px 0px;
  @include laptop-middle {
    margin: 100px 0px;
  }
  @include laptop-min {
    margin: 80px 0px;
  }
}

.sect-head {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
  }

  &__wrapper {
    .s-title {
      grid-column: 3 span;
      @include laptop-middle {
        grid-column: 1 span;
      }
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--primary);
    padding: 12px 0px 0px 25px;

    @include laptop-middle {
      padding: 0 0 15px 0;
    }
    @include tablet {
      padding-bottom: 5px;
    }
  }
}
