@use "../base/templates" as *;
@use "../base/media" as *;

.slider-arrows {
  display: flex;
  gap: 8px;
}

.slider-arrow {
  --background: var(--primary);
  --border: var(--primary);
  --color: var(--primary-m);
  --background-h: var(--primary-d);
  --border-h: var(--primary-d);
  --color-h: var(--primary-m);

  @include flex-center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border: 1px solid var(--border-h);
    color: var(--color-h);
  }

  svg {
    width: 14px;
    height: 14px;
  }

  &.swiper-button-disabled {
    --background: white;
    --border: white;
    pointer-events: none;
  }
}
