@use '../base/templates' as *;
@use '../base/media' as *;

.text-b {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  @include laptop-min {
    font-size: 18px;
  }
  @include tablet {
    font-size: 16px;
  }
}
