@use '../base/templates' as *;
@use '../base/media' as *;

.t-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin: 0;

  @include laptop-middle {
    font-size: 42px;
  }
  @include laptop-min {
    font-size: 36px;
  }
  @include tablet {
    font-size: 30px;
  }

  span {
    color: var(--primary);
  }
}
