@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/title";
@use "./ui/modal";
@use "./ui/input";
@use "./ui/text";
@use "./ui/sect";
@use "./ui/grid-layout";
@use "./ui/card-service";
@use "./ui/card-offer";
@use "./ui/slider";

// components
@use "./components/header";

@use "./components/s-hero";
@use "./components/burger";
@use "./components/s-services";
@use "./components/s-offer";
@use "./components/s-adv";

@use "./components/footer";